server:
  port: 8086

spring:
  application:
    name: streammetrics-stream

  kafka:
    bootstrap-loaders: localhost:9092,localhost:9094,localhost:9096

    # Add consumer config
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.backendbrilliance.streammetrics.serde.AggregatedMetricDeserializer
      group-id: aggregated-metric-store
      auto-offset-reset: earliest

    streams:
      application-id: streammetrics-aggregator
      properties:
        #Performance
        num.stream.threads: 2
        commit.interval.ms: 1000

        #State Store config
        state.dir: /tmp/kafka-streams

        #Exactly-once semantics
        processing.guarantee: exactly_once_v2

        #Replication for changlog topics
        replication.factor: 2

        #Windowing
        window.size.ms: 60000 #1minute

  redis:
    host: localhost
    port: 6379

app:
  kafka:
    topics:
      input: metrics-events
      output-1m: metrics-aggregated-1m
      output-5m: metrics-aggregated-5m

  streams:
    window:
      size-minutes: 1
      grace-period-minutes: 5  # Accept late data up to 5 min

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

logging:
  level:
    org.backendbrilliance: DEBUG
    org.apache.kafka.streams: INFO